@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
	font-family: Poppins;
	src: url("/fonts/Poppins-Regular.ttf");
	display: swap;
}

@font-face {
	font-family: "Josefin Sans";
	src: url("/fonts/JosefinSans-VariableFont_wght.ttf");
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
	-webkit-tap-highlight-color: transparent;
}

main {
	scrollbar-width: 0;
}

main::-webkit-scrollbar {
	appearance: none;
	width: 0;
	height: 0;
}
/* Styles for landing page (only those not provided by tailwindcss classes) */
#__spacex-landing-page {
	scroll-behavior: smooth;
	scroll-snap-type: y proximity;
}

#__spacex-landing-page section {
	scroll-snap-align: start;
	scroll-snap-stop: always;
}

#__spacex-landing-page section:not(:first-child) {
	scroll-snap-align: end;
}

#__banner {
	background-image: linear-gradient(
			127deg,
			rgba(128, 0, 128, 0.3),
			rgba(255, 0, 0, 0.3)
		),
		linear-gradient(rgba(0, 0, 255, 0.3), rgba(0, 0, 255, 0.3)),
		radial-gradient(
			ellipse at 100% 100%,
			rgba(255, 0, 0, 0.5),
			rgba(128, 0, 128, 0.5)
		),
		radial-gradient(
			circle at 30% 30%,
			rgba(255, 0, 140, 0.466) 80px,
			transparent 80px
		),
		radial-gradient(
			circle at 70% 70%,
			rgba(255, 0, 140, 0.466) 40px,
			transparent 40px
		),
		radial-gradient(
			circle at 24% 40%,
			rgba(255, 0, 140, 0.466) 60px,
			transparent 60px
		),
		radial-gradient(
			circle at 65% 60%,
			rgba(255, 0, 140, 0.466) 60px,
			transparent 60px
		),
		radial-gradient(
			circle at 50% 0%,
			rgba(255, 0, 140, 0.466) 70px,
			transparent 60px
		),
		radial-gradient(
			circle at 40% 100%,
			rgba(255, 0, 140, 0.466) 70px,
			transparent 60px
		),
		radial-gradient(
			circle at 10% 90%,
			rgba(255, 0, 140, 0.466) 70px,
			transparent 60px
		),
		radial-gradient(
			circle at 80% 20%,
			rgba(255, 0, 140, 0.466) 70px,
			transparent 60px
		),
		linear-gradient(rgba(34, 2, 46, 0.3), rgba(34, 2, 46, 0.3)),
		url("/images/banner-bg.jpg");
	background-size: cover;
	background-position: center center;
}

#__input-clear-btn {
	transform: scale(0);
}

#__search-box:valid ~ #__input-clear-btn {
	transform: scale(1);
}
